<div class="main-part">
    <div class="side-buttons">
        <ol>
            <li class="small" data-action="rollAllInit">
                <i class="fas fa-users"></i>
            </li>
            <li class="small" data-action="previousRound">
                <i class="fas fa-angles-left"></i>
            </li>
            <li data-action="previousTurn">
                <i class="fas fa-angle-left"></i>
            </li>
        </ol>
    </div>
    <div class="combatant-container shadowdark" style="width:{{containerWidth}}px">
        {{#each combatants}}
            {{#unless this.isDivider}}
                <div class="combatant {{styleClass}}" style="order: {{this.order}}" data-combatant-id="{{this.id}}">
                    <div class="name">{{this.name}}</div>
                    {{#if this.actor}}
                        <img src="{{this.actor.img}}">
                    {{else}}
                        <img src="{{this.img}}">
                    {{/if}}
                    <div class="health-bar">
                        <div class="{{this.system.type}}"></div>
                    </div>
                </div>
            {{/unless}}
            {{#if this.isDivider}}
                <div class="round-divider" style="order: {{this.order}}" data-combatant-id="{{this.id}}">
                    <div></div>
                    <span class="transition">{{this.round}}</span>
                    <div></div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <div class="side-buttons">
        <ol>
            <li class="small" data-action="resetInit">
                <i class="fas fa-eraser"></i>
            </li>
            <li class="small" data-action="nextRound">
                <i class="fas fa-angles-right"></i>
            </li>
            <li data-action="nextTurn">
                <i class="fas fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>