<div class="combatant-container shadowdark">
    {{#each combatants}}
        {{#unless this.isDivider}}
            <div class="combatant {{styleClass}}">
                <div class="name">{{this.name}}</div>
                {{#if this.actor}}
                    <img src="{{this.actor.img}}">
                {{else}}
                    <img src="{{this.img}}">
                {{/if}}
                <span>{{this.initiative}}</span>
            </div>
        {{/unless}}
        {{#if this.isDivider}}
            <div class="round-divider">
                <div></div>
                <span>{{this.round}}</span>
                <div></div>
            </div>
        {{/if}}
    {{/each}}
</div>
