<div class="frame">
    <div class="name">{{name}}</div>
    <div class="portrait">
        <img src="{{img}}">
        {{#if initiativeSet}}
            <div class="initiative">{{initiative}}</div>
        {{else}}
            <div class="overlay">
                {{#if control}}
                <a 
                    data-action="rollInitiative" 
                    data-combatant-id="{{id}}"
                    data-tooltip="End curret tracker"
                >
                    <i class="fal fa-dice-d20"></i>
                </a>
                {{else}}
                    <i class="fal fa-dice-d20" style="color:rgb(255,255,255,0.5)"></i>
                {{/if}}
            </div>
        {{/if}}
    </div>
    <div class="health-bar">
        <div 
            class="{{system.type}}" 
            style="width:{{barPercent}}%"
        >
        </div>
    </div>
    {{#if canView}}
    <div class="menu">
        {{#if hp}}<label>HP</label><span>{{hp.value}} / {{hp.max}}</span>{{/if}}
        {{#if level}}<label>AC</label><span>{{ac}}</span>{{/if}}
        {{#if ac}}<label>LVL</label><span>{{level}}</span>{{/if}}

        {{#if isGM}}
            <div class="actions">
                <a data-action="toggleVisibility" data-combatant-id="{{id}}">
                    <i class="fa-solid fa-eye-slash {{#if hidden}}active{{/if}}"></i>
                </a>
                <a data-action="toggleDefeated" data-combatant-id="{{id}}">
                    <i class="fa-solid fa-skull {{#if defeated}}active{{/if}}"></i>
                </a>
                <a data-action="editCombatant" data-combatant-id="{{id}}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a data-action="deleteCombatant" data-combatant-id="{{id}}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        {{/if}}

    </div>
    {{/if}}
</div>
