<div class="shadowdark">
    {{#if isStarted}}
        <div class="grid-5-columns">
            <h2 class="grid-colspan-5 centered">{{mode}}</h2>
            <span class="grid-colspan-5 centered">Round {{round}}</span>
        </div>
        {{#if inCombat}}
            <button data-action="toggleCombat">End Combat</button>
        {{else}}
            Next encounter roll: {{nextEncounter}}
            <button data-action="toggleCombat">Start Combat</button>
            <button data-action="endCrawling">End Crawling</button>
        {{/if}}
    {{else}}
        <button data-action="startCrawling">Start Crawling</button>
    {{/if}}
    <hr>
    <div class="grid-2-columns">
        <button data-action="addParty">Add Party</button>
        <button data-action="addGameMaster">Add GM</button>
    </div>
</div>