<div id="crawl-tracker" class="shadowdark">
    {{#if isStarted}}
        <div class="grid-4-columns">
            <h2 class="grid-colspan-4 centered">{{mode}}</h2>
            <span class="grid-colspan-4 centered">Round {{round}}</span>
            <button data-action="previousRound"><i class="fa-solid fa-angles-left"></i></button>
            <button data-action="previousTurn"><i class="fa-solid fa-angle-left"></i></i></button>
            <button data-action="nextTurn"><i class="fa-solid fa-angle-right"></i></i></button>
            <button data-action="nextRound"><i class="fa-solid fa-angles-right"></i></button>
        </div>
        {{#if inCombat}}
            <button data-action="endCombat">End Combat</button>
        {{else}}
            Next encounter roll: {{nextEncounter}}
            <button data-action="startCombat">Start Combat</button>
            <button data-action="endCrawling">End Crawling</button>
        {{/if}}
    {{else}}
        <button data-action="startCrawling">Start Crawling</button>
    {{/if}}

    <ul>
    <li>When crawling: button: start combat with selected token(s)</li>
    <li>When combat: button: add token(s) to Combat</li>
    <li>When combat: end combat [removes all monters from carousel]</li>
    </ul>
</div>