<div class="main-part">
    {{#if started}}
        <div class="heading">
            <i class="fas fa-dungeon {{#if inCombat}}faded{{/if}}"></i>
            <h2>
                {{#if isGM}}
                    <a data-action="toggleCombat">{{mode}}</a>
                {{else}}
                    {{mode}}
                {{/if}}
            </h2>
            <i class="fas fa-swords {{#unless inCombat}}faded{{/unless}}"></i>
        </div>
        <div>
            <h3>Round {{round}}</h3>
            <h4>Next Encounter Check: {{#if inCombat}}-{{else}}{{nextEncounter}}{{/if}}</h4>
        </div>
    {{else}}
        <div class="stub">
            <a data-action="startCrawling" data-tooltip="Start Crawling"><i class="fas fa-dungeon"></i></a>
        </div>
    {{/if}}
</div>