<div class="combatant {{styleClass}}" style="order: {{order}}" data-combatant-id="{{id}}">

    <div class="character-picture" data-character="{{actorId}}">
        <img src="{{img}}" alt="{{name}}" />
        <div class="overlay {{#unless overlay}}hidden{{/unless}}">
            {{#ifEq overlay "initiative"}}
                {{#if isOwner}}
                    <a 
                        data-action="rollInitiative" 
                        data-combatant-id="{{id}}"
                        data-tooltip="Roll Initiative"
                    ><i class="fal fa-dice-d20"></i></a>
                {{else}}
                    <i class="fal fa-dice-d20 faded"></i>
                {{/if}}
            {{/ifEq}}
            {{#ifEq overlay "hidden"}}
                <i class="fas fa-eye-slash faded"></i>
            {{/ifEq}}
            {{#ifEq overlay "defeated"}}
                <i class="fas fa-skull faded"></i>
            {{/ifEq}}
            {{#unless overlay}}
                <a 
                    data-action="nextTurn" 
                    data-combatant-id="{{id}}"
                    data-tooltip="End Turn"
                ><i class="fas fa-angle-right"></i></a>
            {{/unless}}
        </div>
    </div>

    <div class="character-info">
        <div class="character-info-wrapper">
            <div class="character-details">
                <div class="character-name">{{name}}</div>
            </div>
            <div class="character-health">
                <div class="bar-wrapper">
                    <div class="bar healthy" style="width: {{barPercent}}%"></div>

                    <input type="text" class="current-health" data-value="{{hp.value}}" data-id="{{actorId}}"
                        value="{{hp.value}}" />
                    <span class="divider">/</span>
                    <input type="text" value="{{hp.max}}" disabled />
                </div>
            </div>
        </div>
    </div>

</div>